%section.content-header
  %h1 Localities
%section.content
  .row
    .col-xs-12
      .box
        .box-body
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th Name
                %th State
            %tbody
              - localities.each do |locality|
                - @locality = locality.object
                %tr
                  %td= link_to locality.city, @locality
                  %td= locality.state
        .box-footer
          - if policy(Locality).new?
            %a.btn.btn-primary.pull-left{href: new_locality_path} New
