%section.content-header
  %h1 Events
%section.content
  .row
    .col-xs-12
      .box
        .box-header
          %h2.box-title Current
        .box-body
          = render partial: 'table', locals: {events: events}
        .box-footer
          - if policy(Event).new?
            %a.btn.btn-primary.pull-left{href: new_event_path} New
      .box
        .box-header
          %h2.box-title Past
        .box-body
          = render partial: 'table', locals: {events: past_events}
