%header.main-header
  %a.logo{href: '/'} YP Registration
  %nav.navbar.navbar-static-top{role: 'navigation'}
    .navbar-custom-menu
      %ul.nav.navbar-nav

        -if user_signed_in?
          %li.dropdown.user.user-menu
            %a.dropdown-toggle{'data-toggle': 'dropdown', href: '#'}
              %img.user-image{alt: 'User Image', src: 'http://placehold.it/160x160'}
              %span.hidden-xs= current_user.name
            %ul.dropdown-menu
              %li.user-header
                %img.img-circle{alt: 'User Image', src: 'http://placehold.it/160x160'}
              %li.user-footer
                .pull-left
                  %a.btn.btn-default.btn-flat{href: user_path(current_user)} Profile
                .pull-right
                  %a.btn.btn-default.btn-flat{rel: 'nofollow', 'data-method': 'delete', href: destroy_user_session_path} Sign out


%div
  - if flash[:notice]
    .alert.alert-success.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:notice]
  - elsif flash[:error]
    .alert.alert-danger.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:error]
  - elsif flash[:alert]
    .alert.alert-danger.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:alert]
